node_modules/
client/node_modules/
server/node_modules/
dist/
build/
.env
.DS_Store
.idea/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

成本还原.xlsx
明细台账.xlsx
物业成本管理系统产品说明书_更新.docx
物业成本管理系统产品说明书.docx
能耗台账.xlsx
